# Insert The Data

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
%ls /gdrive/MyDrive/Thesis

ls: cannot access '/gdrive/MyDrive/Thesis': No such file or directory

In [ ]:
df = pd.read_csv("/content/cleaned thesis data.csv", sep='\t')
df.head()

,Unnamed: 0,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,name,rating,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2
0,0,1016153.0,Maarten,September 2014,"It is a little hard to find, but once you find...",9afc72ba3d60211710475c7022ef6119,2014-09-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,"It is a little hard to find, but once you find...",it is a little hard to find but once you find ...,little hard find find little slice heaven situ...
1,1,1016153.0,Ivan,September 2014,We had great experience at Miryam's villa. The...,76685d2a27bc09c18ac43f1c5422e2fb,2014-09-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,We had great experience at Miryam's villa. The...,we had great experience at miryams villa the l...,great experience miryams villa location quiet ...
2,2,1016153.0,Hans,Juli 2014,Heerlijk relaxed en goed geregeld. geweldig ui...,1ec0f4d7b825668e7cca1a7fefce75ff,2014-07-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,Wonderfully relaxed and well arranged. Great v...,wonderfully relaxed and well arranged great vi...,wonderfully relaxed well arranged great view c...
3,3,1016153.0,Aldo,Januari 2014,"Brilliant house, beautifully located among a l...",58554fb2d1d90e1dca3e6382f71b1bbb,2014-01-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,"Brilliant house, beautifully located among a l...",brilliant house beautifully located among a lo...,brilliant house beautifully located among lot ...
4,4,1016153.0,Anna-Lena,Oktober 2014,Wir hatten eine tolle Zeit in Miryams Mushroom...,b44f1cbed8cae063f59118c31efdacba,2014-10-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,We had a great time in Miryam's Mushroom Villa...,we had a great time in miryams mushroom villat...,great miryams mushroom villathe villa well equ...

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361317 entries, 0 to 361316
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   room_id            361317 non-null  float64
 1   reviewer_name      361317 non-null  object
 2   review_date        361317 non-null  object
 3   review_content     361317 non-null  object
 4   review_hash        361317 non-null  object
 5   clean_date         361317 non-null  object
 6   room_id-2          361317 non-null  float64
 7   city               361317 non-null  object
 8   area               361317 non-null  object
 9   price              361317 non-null  object
 10  name               361317 non-null  object
 11  rating             361317 non-null  float64
 12  number_of_reviews  361317 non-null  int64
 13  desc               361317 non-null  object
 14  review_translated  361317 non-null  object
 15  clean_reviews      361317 non-null  object
 16  clean_reviews_v2   361150 non-null  object
dtypes: float64(3), int64(1), object(13)
memory usage: 46.9+ MB

In [ ]:
df.describe()

            room_id     room_id-2         rating  number_of_reviews
count  3.613170e+05  3.613170e+05  361317.000000      361317.000000
mean   6.702352e+16  6.702352e+16       4.771648         120.975916
std    2.033322e+17  2.033322e+17       0.181156         124.859791
min    3.615800e+04  3.615800e+04       2.250000           3.000000
25%    1.434120e+07  1.434120e+07       4.690000          41.000000
50%    2.490644e+07  2.490644e+07       4.810000          86.000000
75%    4.002619e+07  4.002619e+07       4.900000         157.000000
max    8.922616e+17  8.922616e+17       5.000000        1209.000000

# Clean Data

In [ ]:
len(df)

361317

In [ ]:
df['clean_reviews_v2'].isnull().values.any()

True

In [ ]:
df['clean_reviews_v2'].isnull().sum()

167

In [ ]:
nan_list = list(df.loc[pd.isna(df['clean_reviews_v2']), :].index)

In [ ]:
len(nan_list)

167

In [ ]:
print(nan_list)

[12631, 13916, 18224, 23726, 27012, 27550, 30001, 31195, 32312, 33860, 33978, 35914, 39209, 42867, 45054, 55608, 57119, 57286, 59766, 60362, 61026, 61208, 64114, 65559, 66562, 68192, 69142, 75626, 77204, 81194, 81941, 84246, 85642, 87419, 89236, 93200, 99758, 103225, 103257, 104445, 107162, 108277, 108863, 110195, 116565, 117077, 119823, 123055, 126989, 130243, 132364, 138141, 144581, 145947, 150543, 152010, 154997, 156374, 161650, 163611, 171185, 173465, 173955, 176195, 177931, 178426, 178585, 179577, 182492, 184099, 188082, 188276, 188526, 188747, 188969, 189977, 192108, 193655, 195305, 195900, 196230, 199057, 199145, 202796, 204038, 204335, 205751, 206121, 206186, 210537, 212809, 212877, 217618, 222682, 226391, 227843, 230434, 234794, 235097, 248503, 249016, 250478, 251488, 252361, 253408, 254840, 259649, 260378, 261996, 262895, 264064, 264536, 265312, 266398, 269367, 272024, 272529, 278504, 280810, 283022, 283410, 287995, 289153, 290528, 295640, 301560, 305462, 306950, 308166, 308998, 309134, 309303, 310630, 311882, 317928, 321849, 325775, 326719, 326749, 326943, 329239, 330261, 330757, 331140, 334958, 335462, 335898, 337346, 338997, 339671, 339727, 340286, 343249, 343349, 343492, 344496, 345416, 346362, 347226, 348363, 349032, 349469, 350874, 353581, 354761, 357047, 359873]

In [ ]:
df = df[df['clean_reviews_v2'].notna()]

In [ ]:
# df.iloc[12625:12635]
df.iloc[12631]

room_id                                                     11073029.0
reviewer_name                                                     Elke
review_date                                               Agustus 2019
review_content       Komunikasi cepat dan ramah. Kedua kalinya dan ...
review_hash                           71630d2a4d48b27b69e1a289bc7b755d
clean_date                                                  2019-08-01
room_id-2                                                   11073029.0
city                                                           jakarta
area                                                             tebet
price                                              Rp487.075 per malam
name                                      Apartemen di Jakarta Selatan
rating                                                            4.85
number_of_reviews                                                   72
desc                 Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...
review_translated    Fast and friendly communication. The second ti...
clean_reviews        fast and friendly communication the second tim...
clean_reviews_v2         fast friendly communication second order next
Name: 12632, dtype: object

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.iloc[12625:12635]

,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,name,rating,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2
12625,11052887.0,Pavlos,Februari 2017,A great little place to get away from the hust...,1b4b063424f52adf0aa81eb3d751dc94,2017-02-01,11052887.0,bali,"sukasada, bali",",",Kamar di Kecamatan Buleleng,4.53,122,"Pantai dan SpA Shri Ganesh Villa, Kamar Deluxe",A great little place to get away from the hust...,a great little place to get away from the hust...,great little place get away hustle bustle beau...
12626,11052887.0,Madeline,Oktober 2016,"Our stay at Shri Ganesh was amazing, the staff...",fb08511d67fdfb17ab29237a43c288ce,2016-10-01,11052887.0,bali,"sukasada, bali",",",Kamar di Kecamatan Buleleng,4.53,122,"Pantai dan SpA Shri Ganesh Villa, Kamar Deluxe","Our stay at Shri Ganesh was amazing, the staff...",our stay at shri ganesh was amazing the staff ...,shri ganesh amazing staff welcoming organized ...
12627,11052887.0,Ambre,September 2016,Nous avons passé un très bon séjour dans ce bu...,9656d12b008ea0da58bb3d98fac29717,2016-09-01,11052887.0,bali,"sukasada, bali",",",Kamar di Kecamatan Buleleng,4.53,122,"Pantai dan SpA Shri Ganesh Villa, Kamar Deluxe",We had a very good stay in this bungalow and w...,we had a very good stay in this bungalow and w...,good bungalow joy find swimming pool day visit...
12628,11073029.0,Alexandre,Oktober 2016,"Muthia sedang bepergian, tetapi adiknya merawa...",c9e5b777202a434cf42dfc978a9254e5,2016-10-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,"Muthia is traveling, but her sister takes care...",muthia is traveling but her sister takes care ...,muthia traveling sister takes care us well eve...
12629,11073029.0,Lukas,Mei 2017,Tempat yang sangat nyaman dan bersih. Ternyata...,741b1e86ee73c32c8c7216582a674e0a,2017-05-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,A very comfortable and clean place. It turns o...,a very comfortable and clean place it turns ou...,comfortable clean place turns towels shampoo s...
12630,11073029.0,Arip,Desember 2016,Saya sudah 2 kali menginap disini..Tempatnya s...,2295a40249ea4595581e1693955c4645,2016-12-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,I have stayed 2 times here ... the place is st...,i have stayed times here the place is strategi...,stayed times place strategic connect directly ...
12631,11073029.0,Elke,Agustus 2019,Komunikasi cepat dan ramah. Kedua kalinya dan ...,71630d2a4d48b27b69e1a289bc7b755d,2019-08-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,Fast and friendly communication. The second ti...,fast and friendly communication the second tim...,fast friendly communication second order next
12632,11073029.0,Elke,Agustus 2018,Muthia made the experience easy and pleasant. ...,52a1eac5fa6af6c053088e7db4b35c7d,2018-08-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,Muthia made the experience easy and pleasant. ...,muthia made the experience easy and pleasant c...,muthia made experience easy pleasant communica...
12633,11073029.0,Ringo,Februari 2018,Kindly host with great place..,b22dc83484b63bc2f03ddd2bc112f72e,2018-02-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,Kindly host with great place..,kindly host with great place,kindly host great place
12634,11073029.0,Rudolf,Mei 2017,Tempat yang bagus. Lokasinya sangat strategis ...,db359ed2cdb6822f37009a6902cbb49f,2017-05-01,11073029.0,jakarta,tebet,Rp487.075 per malam,Apartemen di Jakarta Selatan,4.85,72,Harga Terjangkau 1BR Apt. w/ Akses Langsung ke...,A great place. The location is very strategic ...,a great place the location is very strategic t...,great place location strategic go anywhere dir...

In [ ]:
df.head()

,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,name,rating,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2
0,1016153.0,Maarten,September 2014,"It is a little hard to find, but once you find...",9afc72ba3d60211710475c7022ef6119,2014-09-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,"It is a little hard to find, but once you find...",it is a little hard to find but once you find ...,little hard find find little slice heaven situ...
1,1016153.0,Ivan,September 2014,We had great experience at Miryam's villa. The...,76685d2a27bc09c18ac43f1c5422e2fb,2014-09-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,We had great experience at Miryam's villa. The...,we had great experience at miryams villa the l...,great experience miryams villa location quiet ...
2,1016153.0,Hans,Juli 2014,Heerlijk relaxed en goed geregeld. geweldig ui...,1ec0f4d7b825668e7cca1a7fefce75ff,2014-07-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,Wonderfully relaxed and well arranged. Great v...,wonderfully relaxed and well arranged great vi...,wonderfully relaxed well arranged great view c...
3,1016153.0,Aldo,Januari 2014,"Brilliant house, beautifully located among a l...",58554fb2d1d90e1dca3e6382f71b1bbb,2014-01-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,"Brilliant house, beautifully located among a l...",brilliant house beautifully located among a lo...,brilliant house beautifully located among lot ...
4,1016153.0,Anna-Lena,Oktober 2014,Wir hatten eine tolle Zeit in Miryams Mushroom...,b44f1cbed8cae063f59118c31efdacba,2014-10-01,1016153.0,bali,"selemadeg barat, bali",Rp1.775.094 per malam,Pondok di Balian Beach,4.85,286,RUMAH POHON BALIAN dengan kolam renang yang indah,We had a great time in Miryam's Mushroom Villa...,we had a great time in miryams mushroom villat...,great miryams mushroom villathe villa well equ...

Stopwords (not necessary because the stopwords in the dataset already been removed). But run this for vectorizer in the model section

In [ ]:
# Text preprocessiong
import nltk
nltk.download('stopwords')

# NLTK English stopwords
stopwords = nltk.corpus.stopwords.words('english')

# Print out the NLTK default stopwords
print(f'There are {len(stopwords)} default stopwords. They are {stopwords}')

There are 179 default stopwords. They are ['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
# Domain specific words to remove
airbnb_related_words = ['stay', 'airbnb', 'dc', 'would', 'time', 'apartment']

In [ ]:
# Other words to remove
other_words_to_remove = ['natasha', 'also', 'vladi']

In [ ]:
# Expand stopwords
stopwords.extend(airbnb_related_words + other_words_to_remove)
print(f'There are {len(stopwords)} stopwords.')

There are 188 stopwords.

In [ ]:
# df1.merge(df2[['Name', 'Grade', 'Rank']])

In [ ]:
# df.drop(df.index[[1,3]], inplace=True)

Group the data

In [ ]:
# Count the number of reviews by city
city_agg = df.groupby(['city']).size().reset_index(name='counts')

# Take a look at the data
city_agg

       city  counts
0      bali  213208
1   bandung   44296
2   jakarta   52949
3    lombok   30029
4  surabaya   20668

In [ ]:
city_list = list(city_agg["city"])

In [ ]:
# Check the number of neighbourhood
print(f'There are {len(city_list)} cities.\n')

# Take a look at the list
city_list

There are 5 cities.

['bali', 'bandung', 'jakarta', 'lombok', 'surabaya']

Filter to get only the negative reviews data

In [ ]:
from textblob import TextBlob
import plotly.express as px

#Create a function to get the subjectivity
def subjectivity(text):
    return TextBlob(text).sentiment.subjectivity

#Create a function to get the polarity
def polarity(text):
    return TextBlob(text).sentiment.polarity

#Create two new columns
df['Subjectivity'] = df['clean_reviews_v2'].apply(subjectivity)
df['Polarity'] = df['clean_reviews_v2'].apply(polarity)
#################################################################################
#Create a function to compute the negative, neutral and positive analysis
def getAnalysis(score):
    if score <0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

df['Analysis'] = df['Polarity'].apply(getAnalysis)
#################################################################################

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361150 entries, 0 to 361149
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   room_id            361150 non-null  float64
 1   reviewer_name      361150 non-null  object
 2   review_date        361150 non-null  object
 3   review_content     361150 non-null  object
 4   review_hash        361150 non-null  object
 5   clean_date         361150 non-null  object
 6   room_id-2          361150 non-null  float64
 7   city               361150 non-null  object
 8   area               361150 non-null  object
 9   price              361150 non-null  object
 10  name               361150 non-null  object
 11  rating             361150 non-null  float64
 12  number_of_reviews  361150 non-null  int64
 13  desc               361150 non-null  object
 14  review_translated  361150 non-null  object
 15  clean_reviews      361150 non-null  object
 16  clean_reviews_v2   361150 non-null  object
 17  Subjectivity       361150 non-null  float64
 18  Polarity           361150 non-null  float64
 19  Analysis           361150 non-null  object
dtypes: float64(5), int64(1), object(14)
memory usage: 55.1+ MB

Ratio of positive and negative reviews

In [ ]:
len(df[df["Polarity"] > 0])

344811

In [ ]:
len(df[df["Polarity"] == 0])

10496

In [ ]:
len(df[df["Polarity"] < 0])

5843

In [ ]:
df_positive_reviews = df[df["Polarity"] > 0]
df_negative_reviews = df[df["Polarity"] < 0]
df_neutral_reviews = df[df["Polarity"] == 0]

Segment by date range

In [ ]:
import datetime

In [ ]:
df_negative_reviews['clean_date'] = pd.to_datetime(df_negative_reviews['clean_date'])
df_negative_reviews = df_negative_reviews.set_index(df_negative_reviews['clean_date'])
df_negative_reviews = df_negative_reviews.sort_index()

<ipython-input-32-a09c9afbd7a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_negative_reviews['clean_date'] = pd.to_datetime(df_negative_reviews['clean_date'])

In [ ]:
df_neg_rev_range_1 = df_negative_reviews['2011-01-01':'2015-12-12']
df_neg_rev_range_1["range_period"] = "range 1: 2011-01-01:2015-12-12"

df_neg_rev_range_2 = df_negative_reviews['2016-01-01':'2019-12-12']
df_neg_rev_range_2["range_period"] = "range 2: 2016-01-01:2019-12-12"


df_neg_rev_range_3 = df_negative_reviews['2020-01-01':'2023-12-12']
df_neg_rev_range_3["range_period"] = "range 3: 2020-01-01:2023-12-12"

df_neg_rev = pd.concat([df_neg_rev_range_1, df_neg_rev_range_2, df_neg_rev_range_3])

In [ ]:
df_neg_rev.tail()

,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,...,rating,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2,Subjectivity,Polarity,Analysis,range_period
clean_date,,,,,,,,,,,,,,,,,,,,,
2023-05-01,3.684770e+07,Kseniia,Mei 2023,Yuli adalah tuan rumah yang sangat membantu da...,5cc5441c6a08be84f26921d01772f7b6,2023-05-01,3.684770e+07,jakarta,tebet,Rp294.691 per malam,...,4.39,59,Apartemen studio yang nyaman dan berlokasi prima!,Yuli is a very helpful host and provides every...,yuli is a very helpful host and provides every...,helpful host provides everything ask location ...,0.383333,-0.042361,Negative,range 3: 2020-01-01:2023-12-12
2023-05-01,7.295092e+17,Riku,Mei 2023,Wi-Fiのパスワードについて、事前に教えてもらったものでは繋がらなかった。チェックアウトの...,bdbd7d0d3f1aeda0060739990d1dd3e1,2023-05-01,7.295092e+17,jakarta,menteng,Rp562.880 per malam,...,4.88,24,"Studio modern & nyaman di pusat Jakarta, SCBD",The Wi-Fi password was not connected with what...,the wifi password was not connected with what ...,wifi password connected taught advance check e...,0.687500,-0.031250,Negative,range 3: 2020-01-01:2023-12-12
2023-05-01,6.650227e+17,Raisa,Mei 2023,"Kedatangan cukup samar, kami harus mengambil k...",e8df9cde684d204e5e8682cb398bca7f,2023-05-01,6.650227e+17,surabaya,surabaya,Rp415.258 per malam,...,4.56,9,Apartemen Bess Mansion Surabaya 2BR,"The arrival was quite vague, we had to take th...",the arrival was quite vague we had to take the...,arrival quite vague take key bulb container br...,0.453333,-0.213333,Negative,range 3: 2020-01-01:2023-12-12
2023-05-01,7.309439e+17,Emerant,Mei 2023,Tempat yang lapang untuk menginap jika Anda in...,70a434d889ee85b8db7c459b6ffaa4ce,2023-05-01,7.309439e+17,bali,"uluwatu, bali",Rp604.523 per malam,...,4.74,23,Kamar pribadi Mari Posa Cottage - dekat tebing,A spacious place to stay if you want to be out...,a spacious place to stay if you want to be out...,spacious place want outside hustle bustle main...,0.554167,-0.004167,Negative,range 3: 2020-01-01:2023-12-12
2023-05-01,4.814369e+07,Karla,Mei 2023,Ubud nightlife (AKA no nightlife) shocked us a...,f69a6ffe333c357ee8e5862eb50c73bb,2023-05-01,4.814369e+07,lombok,"kediri, lombok","Rp2.035.803 per malam, awalnya Rp2.276.216",...,4.88,16,*Baru* Pemandangan sawah Ubud 2BR Pool Villa,Ubud nightlife (AKA no nightlife) shocked us a...,ubud nightlife aka no nightlife shocked us a l...,ubud nightlife aka nightlife shocked us lot di...,0.607143,-0.278571,Negative,range 3: 2020-01-01:2023-12-12

In [ ]:
# df_negative_reviews.loc[df_negative_reviews["clean_date"]>="2011-01-01"]

In [ ]:
# df_negative_reviews['range_period'] = "range_1" if df_negative_reviews['2011-01-01':'2015-12-12']
# df_negative_reviews['range_period'] = "range_2" if df_negative_reviews['2016-01-01':'2019-12-12']
# df_negative_reviews['range_period'] = "range_3" if df_negative_reviews['2020-01-01':'2023-12-12']

# if df_negative_reviews["clean_date"] >= datetime.datetime.strptime('2011-01-01', '%Y-%m-%d').date() and df_negative_reviews["clean_date"] <= datetime.datetime.strptime('2015-12-12', '%Y-%m-%d').date():
#   df_negative_reviews['range_period'] = "range_1"
# elif df_negative_reviews['2016-01-01':'2019-12-12']:
#   df_negative_reviews['range_period'] = "range_2"
# elif df_negative_reviews['2020-01-01':'2023-12-12']:
#   df_negative_reviews['range_period'] = "range_3"

# if df_negative_reviews['2011-01-01':'2015-12-12']:
#   df_negative_reviews['range_period'] = "range 1: 2011-01-01:2015-12-12"
# else:
#   if df_negative_reviews['2016-01-01':'2019-12-12']:
#     df_negative_reviews['range_period'] = "range 2: 2016-01-01:2019-12-12"
#   elif df_negative_reviews['2020-01-01':'2023-12-12']:
#     df_negative_reviews['range_period'] = "range 3: 2020-01-01:2023-12-12"

In [ ]:
# datetime.datetime.strptime('2011-01-01', '%Y-%m-%d').date()
# pd.to_datetime(df_negative_reviews["clean_date"]).dt.date
# pd.to_datetime(df_negative_reviews["clean_date"]).dt.date
# np.datetime64(date)

clean_date
2012-06-01    2012-06-01
2013-08-01    2013-08-01
2013-09-01    2013-09-01
2013-12-01    2013-12-01
2014-03-01    2014-03-01
                 ...
2023-05-01    2023-05-01
2023-05-01    2023-05-01
2023-05-01    2023-05-01
2023-05-01    2023-05-01
2023-05-01    2023-05-01
Name: clean_date, Length: 5843, dtype: object

# Model

### Dimensionality Reduction using UMAP (this subsection just for example, because it use all the data)

In [ ]:
# !pip install bertopic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bertopic
  Downloading bertopic-0.15.0-py2.py3-none-any.whl (143 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.4/143.4 kB 12.7 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20.0 in /usr/local/lib/python3.10/dist-packages (from bertopic) (1.22.4)
Collecting hdbscan>=0.8.29 (from bertopic)
  Downloading hdbscan-0.8.29.tar.gz (5.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 41.2 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting umap-learn>=0.5.0 (from bertopic)
  Downloading umap-learn-0.5.3.tar.gz (88 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.2/88.2 kB 13.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas>=1.1.5 in /usr/local/lib/python3.10/dist-packages (from bertopic) (1.5.3)
Requirement already satisfied: scikit-learn>=0.22.2.post1 in /usr/local/lib/python3.10/dist-packages (from bertopic) (1.2.2)
Requirement already satisfied: tqdm>=4.41.1 in /usr/local/lib/python3.10/dist-packages (from bertopic) (4.65.0)
Collecting sentence-transformers>=0.4.1 (from bertopic)
  Downloading sentence-transformers-2.2.2.tar.gz (85 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.0/86.0 kB 16.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: plotly>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from bertopic) (5.13.1)
Requirement already satisfied: cython>=0.27 in /usr/local/lib/python3.10/dist-packages (from hdbscan>=0.8.29->bertopic) (0.29.35)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.10/dist-packages (from hdbscan>=0.8.29->bertopic) (1.10.1)
Requirement already satisfied: joblib>=1.0 in /usr/local/lib/python3.10/dist-packages (from hdbscan>=0.8.29->bertopic) (1.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.5->bertopic) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.1.5->bertopic) (2022.7.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=4.7.0->bertopic) (8.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.22.2.post1->bertopic) (3.1.0)
Collecting transformers<5.0.0,>=4.6.0 (from sentence-transformers>=0.4.1->bertopic)
  Downloading transformers-4.30.2-py3-none-any.whl (7.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.2/7.2 MB 105.0 MB/s eta 0:00:00
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from sentence-transformers>=0.4.1->bertopic) (2.0.1+cu118)
Requirement already satisfied: torchvision in /usr/local/lib/python3.10/dist-packages (from sentence-transformers>=0.4.1->bertopic) (0.15.2+cu118)
Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (from sentence-transformers>=0.4.1->bertopic) (3.8.1)
Collecting sentencepiece (from sentence-transformers>=0.4.1->bertopic)
  Downloading sentencepiece-0.1.99-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 81.2 MB/s eta 0:00:00
Collecting huggingface-hub>=0.4.0 (from sentence-transformers>=0.4.1->bertopic)
  Downloading huggingface_hub-0.15.1-py3-none-any.whl (236 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 236.8/236.8 kB 33.4 MB/s eta 0:00:00
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.10/dist-packages (from umap-learn>=0.5.0->bertopic) (0.56.4)
Collecting pynndescent>=0.5 (from umap-learn>=0.5.0->bertopic)
  Downloading pynndescent-0.5.10.tar.gz (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 58.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (3.12.2)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (2023.6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (2.27.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (6.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (4.6.3)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.10/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (23.1)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.49->umap-learn>=0.5.0->bertopic) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba>=0.49->umap-learn>=0.5.0->bertopic) (67.7.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=1.1.5->bertopic) (1.16.0)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (1.11.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (3.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (3.1.2)
Requirement already satisfied: triton==2.0.0 in /usr/local/lib/python3.10/dist-packages (from torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (2.0.0)
Requirement already satisfied: cmake in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (3.25.2)
Requirement already satisfied: lit in /usr/local/lib/python3.10/dist-packages (from triton==2.0.0->torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (16.0.6)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.10/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers>=0.4.1->bertopic) (2022.10.31)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers<5.0.0,>=4.6.0->sentence-transformers>=0.4.1->bertopic)
  Downloading tokenizers-0.13.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 23.6 MB/s eta 0:00:00
Collecting safetensors>=0.3.1 (from transformers<5.0.0,>=4.6.0->sentence-transformers>=0.4.1->bertopic)
  Downloading safetensors-0.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 15.7 MB/s eta 0:00:00
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk->sentence-transformers>=0.4.1->bertopic) (8.1.3)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision->sentence-transformers>=0.4.1->bertopic) (8.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (2.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers>=0.4.1->bertopic) (3.4)
Requirement already satisfied: mpmath>=0.19 in /usr/local/lib/python3.10/dist-packages (from sympy->torch>=1.6.0->sentence-transformers>=0.4.1->bertopic) (1.3.0)
Building wheels for collected packages: hdbscan, sentence-transformers, umap-learn, pynndescent
  Building wheel for hdbscan (pyproject.toml) ... done
  Created wheel for hdbscan: filename=hdbscan-0.8.29-cp310-cp310-linux_x86_64.whl size=3542006 sha256=e7db4a35935016d0073944ee6d3309a693ce7fe35127700fe5a5905f409f512c
  Stored in directory: /root/.cache/pip/wheels/dc/52/e3/6c6b60b126b4d5c4370cb5ac071b82950f91649d62d72f7f56
  Building wheel for sentence-transformers (setup.py) ... done
  Created wheel for sentence-transformers: filename=sentence_transformers-2.2.2-py3-none-any.whl size=125926 sha256=e7fef0bb35a7bd1a82d5653e8128f160c1ea93e177a40eb742c33ae5bf8713d4
  Stored in directory: /root/.cache/pip/wheels/62/f2/10/1e606fd5f02395388f74e7462910fe851042f97238cbbd902f
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.3-py3-none-any.whl size=82816 sha256=5d87d339d372fa48385b84d9ea87f7ae3b076cdcf4f165482c4cc57c3d3ca5eb
  Stored in directory: /root/.cache/pip/wheels/a0/e8/c6/a37ea663620bd5200ea1ba0907ab3c217042c1d035ef606acc
  Building wheel for pynndescent (setup.py) ... done
  Created wheel for pynndescent: filename=pynndescent-0.5.10-py3-none-any.whl size=55622 sha256=75217ecda6a27ef69389e27dcc6408a867ba82958e1f55b18b056ab77110dbef
  Stored in directory: /root/.cache/pip/wheels/4a/38/5d/f60a40a66a9512b7e5e83517ebc2d1b42d857be97d135f1096
Successfully built hdbscan sentence-transformers umap-learn pynndescent
Installing collected packages: tokenizers, sentencepiece, safetensors, huggingface-hub, transformers, pynndescent, hdbscan, umap-learn, sentence-transformers, bertopic
Successfully installed bertopic-0.15.0 hdbscan-0.8.29 huggingface-hub-0.15.1 pynndescent-0.5.10 safetensors-0.3.1 sentence-transformers-2.2.2 sentencepiece-0.1.99 tokenizers-0.13.3 transformers-4.30.2 umap-learn-0.5.3

In [ ]:
# !pip install pandas
# !pip install pandas==1.5.3

In [ ]:
# !pip uninstall pyldavis

In [ ]:
# !python -V

In [ ]:
# !pip install numpy==1.23.5
# !pip install numpy==1.23.1
# !pip install numpy==1.22.4
# !pip install numpy==1.22.3
# !pip install numpy

In [ ]:
# !pip install numba
# !pip install numba==0.56.3
# !pip install numba==0.56

In [ ]:
# Dimension reduction
from umap import UMAP

# Count vectorization
from sklearn.feature_extraction.text import CountVectorizer

# Topic model
from bertopic import BERTopic

By group (city)

In [ ]:
# Initiate UMAP
umap_model = UMAP(n_neighbors=15,
                  n_components=5,
                  min_dist=0.0,
                  metric='cosine',
                  random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

In [ ]:
from bertopic.representation import MaximalMarginalRelevance

representation_model = MaximalMarginalRelevance(diversity=0.8)

# Initiate BERTopic
topic_model = BERTopic(umap_model=umap_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=20,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=False
                       )

In [ ]:
# Create an empty dataframe
topics_by_group = pd.DataFrame()

# Loop through each neighbourhood
for i in city_list:
  # A data frame only contains reviews from neighbourhood i
  group = df[df['city'] == i]
  # Reset index, otherwise there will be error from BERTopic model
  group.reset_index(drop=True, inplace=True)
  # Train the topic model
  topics = topic_model.fit_transform(group['clean_reviews_v2'])
  # Get the topic list for the neighbourbhood i
  topics_df = topic_model.get_topic_info()
  # Create a column with the neighbourhood name
  topics_df['city'] = i
  # Append the topic list to the dataframe
  topics_by_group = pd.concat((topics_by_group, topics_df))

topics_by_group

,Topic,Count,Name,Representation,Representative_Docs,city
0,-1,108928,-1_us_bali_beach_room,"[us, bali, beach, room]",[best place ever canggu close everything walki...,bali
1,0,9191,0_scooter_rental_ride_center,"[scooter, rental, ride, center]",[good food delicious able rent scooter easily ...,bali
2,1,3833,1_middle_paddies_view_ricefields,"[middle, paddies, view, ricefields]","[good villa located rice fields, friendly beau...",bali
3,2,3524,2_breakfasts_friendly_free_accommodation,"[breakfasts, friendly, free, accommodation]","[good place delicious breakfast, good place de...",bali
4,3,3515,3_pickup_pick_transfer_close,"[pickup, pick, transfer, close]","[comfortable close airport, good room close ai...",bali
...,...,...,...,...,...,...
106,105,21,105_cozy_apartrments_recommendedsuper_clean,"[cozy, apartrments, recommendedsuper, clean]","[cozy clean, clean cozy, clean cozy place]",surabaya
107,106,21,106_vacation_trawasyou_environmenta_recommeded,"[vacation, trawasyou, environmenta, recommeded]","[great place family vacation, recommended vaca...",surabaya
108,107,20,107_indonesian_yhosie_family_fantastic,"[indonesian, yhosie, family, fantastic]",[yhosie family great hosts boyfriend really si...,surabaya
109,108,20,108_feels_lanny_pricexxx_atmosphere,"[feels, lanny, pricexxx, atmosphere]",[place comfortable complete facilities feels l...,surabaya
110,109,20,109_deffo_cleansuper_alex_recommendable,"[deffo, cleansuper, alex, recommendable]",[nice place clean comfortable really enjoy hos...,surabaya

In [ ]:
len(topics_by_group)

1259

In [ ]:
topics_by_group[topics_by_group["city"]=="bali"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,9191,0_scooter_rental_ride_center,"[scooter, rental, ride, center]",[good food delicious able rent scooter easily ...,bali
2,1,3833,1_middle_paddies_view_ricefields,"[middle, paddies, view, ricefields]","[good villa located rice fields, friendly beau...",bali
3,2,3524,2_breakfasts_friendly_free_accommodation,"[breakfasts, friendly, free, accommodation]","[good place delicious breakfast, good place de...",bali
4,3,3515,3_pickup_pick_transfer_close,"[pickup, pick, transfer, close]","[comfortable close airport, good room close ai...",bali
5,4,3397,4_hosts_responsive_extraordinary_location,"[hosts, responsive, extraordinary, location]","[host good location, good place friendly host,...",bali

In [ ]:
topics_by_group[topics_by_group["city"]=="jakarta"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,1392,0_fitness_pools_beautiful_building,"[fitness, pools, beautiful, building]",[extraordinary place extraordinary swimming po...,jakarta
2,1,1385,1_families_gathering_vacation_comfortable,"[families, gathering, vacation, comfortable]","[good place family, good place family, good pl...",jakarta
3,2,1319,2_comfortable_strategic_facilities_recommended,"[comfortable, strategic, facilities, recommended]","[good place clean comfortable, place clean goo...",jakarta
4,3,1253,3_park_close_access_central,"[park, close, access, central]","[place good close mall clean, good location cl...",jakarta
5,4,933,4_clean_responsive_hosts_communicative,"[clean, responsive, hosts, communicative]","[good host clean, great room clean host friend...",jakarta

In [ ]:
topics_by_group[topics_by_group["city"]=="lombok"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,1324,0_hosts_extraordinary_responsive_location,"[hosts, extraordinary, responsive, location]","[great host, host good, good host]",lombok
2,1,1234,1_scooter_minutes_us_price,"[scooter, minutes, us, price]",[good place friendly staff good swimming pool ...,lombok
3,2,1162,2_bicycles_rent_breakfast_staff,"[bicycles, rent, breakfast, staff]",[amazing loved even better pictures little bit...,lombok
4,3,838,3_breakfast_staff_clean_accommodation,"[breakfast, staff, clean, accommodation]",[staff really friendly breakfast delicious roo...,lombok
5,4,723,4_balinese_trip_stayed_food,"[balinese, trip, stayed, food]","[come feel real experience bali, best location...",lombok

In [ ]:
topics_by_group[topics_by_group["city"]=="bandung"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,2167,0_villas_family_guard_view,"[villas, family, guard, view]","[villa good, good villa, good villa]",bandung
2,1,1353,1_us_floor_stayed_take,"[us, floor, stayed, take]",[poor upkeep maintenanceif privacy cleanliness...,bandung
3,2,901,2_private_pools_children_happy,"[private, pools, children, happy]","[extraordinary experience good swimming pool, ...",bandung
4,3,796,3_rooms_clean_comfortable_price,"[rooms, clean, comfortable, price]","[room good clean comfortable, good place room ...",bandung
5,4,756,4_utensils_equipment_microwave_rice,"[utensils, equipment, microwave, rice]","[clean complete cooking utensils comfortable, ...",bandung

In [ ]:
topics_by_group[topics_by_group["city"]=="surabaya"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,1491,0_extraordinary_hosts_response_fast,"[extraordinary, hosts, response, fast]","[great place friendly host, friendly host good...",surabaya
2,1,1065,1_mall_access_close_surabaya,"[mall, access, close, surabaya]","[good location easy access mall, easy access c...",surabaya
3,2,927,2_villas_batu_view_family,"[villas, batu, view, family]","[villa good comfortable clean, villa clean com...",surabaya
4,3,546,3_pools_fitness_mall_view,"[pools, fitness, mall, view]","[helpful host extraordinary swimming pool, goo...",surabaya
5,4,441,4_water_heater_shampoo_towels,"[water, heater, shampoo, towels]","[overall good hot water bathroom functioning, ...",surabaya

All

In [ ]:
# Initiate UMAP
umap_model = UMAP(n_neighbors=15,
                  n_components=5,
                  min_dist=0.0,
                  metric='cosine',
                  random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

# Initiate BERTopic
topic_model = BERTopic(umap_model=umap_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=200,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=True)

# Run BERTopic model
topics = topic_model.fit_transform(df['clean_reviews_v2'])

# Get the list of topics
topic_model.get_topic_info()

KeyboardInterrupt: ignored

visualize topics by group

In [ ]:
# Get topics by group
topics_per_class = topic_model.topics_per_class(df['clean_reviews_v2'], classes=df['city'])

# Visualize topics by group
topic_model.visualize_topics_per_class(topics_per_class, top_n_topics=9)

## (Start from here: subsection for negative reviews)

### Dimensionality Reduction using UMAP (by city and range)

In [ ]:
df_negative_reviews.head()

,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,name,rating,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2,Subjectivity,Polarity,Analysis
clean_date,,,,,,,,,,,,,,,,,,,,
2012-06-01,286363.0,Kelly & Hector,Juni 2012,Unless you are on a very tight budget and have...,f2d21af60f1835359a048a9bcc117b44,2012-06-01,286363.0,bali,"abiansemal, bali",Rp1.496.853 per malam,Pondok di Ubud,4.54,109,The Nest - Jungalow menghadap Sungai Ayung,Unless you are on a very tight budget and have...,unless you are on a very tight budget and have...,unless tight budget absolutely nowhere else po...,0.512812,-0.037868,Negative
2013-08-01,1081150.0,Johanna & Marcel,Agustus 2013,We wanted to stay in the bungalows over the wa...,053193a25582163e0ac15368dd54dc0a,2013-08-01,1081150.0,lombok,"gerung, lombok","Rp734.047 per malam, awalnya Rp846.035",Tempat menginap di Sekotong,4.07,45,Gili Gede Original Bungalow di atas Karang,We wanted to stay in the bungalows over the wa...,we wanted to stay in the bungalows over the wa...,wanted bungalows water small children suggeste...,0.564286,-0.042938,Negative
2013-09-01,757998.0,Ylton,September 2013,Ich hatte leide keinen persönlichen Kontakt zu...,965d9750424dc04248332c6859f5c1c9,2013-09-01,757998.0,bali,"sangeh, bali",Rp868.278 per malam,Vila di Ubud,4.68,333,"Pondok organik, balkon surgawi",I had no personal contact\nHad Mr. Fujita beca...,i had no personal contacthad mr fujita because...,personal contacthad mr fujita japan mr ketut f...,0.614286,-0.007143,Negative
2013-12-01,408938.0,Beat,Desember 2013,"We were received by a rather dull driver, but ...",590688a8c94bbff48644842003a02362,2013-12-01,408938.0,bali,"kuta, bali",Rp1.503.718 per malam,Vila di Seminyak,4.72,300,"M 2 BEDROOMS VILLA , SEMINYAK , BALI","We were received by a rather dull driver, but ...",we were received by a rather dull driver but h...,received rather dull driver job luigi welcomed...,0.319048,-0.030556,Negative
2014-03-01,974044.0,Dan,Maret 2014,Let's just say that Lucy the host was having a...,ce82180e618e8ec5339b441525b730ac,2014-03-01,974044.0,lombok,selaparang,"Rp480.000 per malam, awalnya Rp600.000",Tempat menginap di Gili Meno,4.34,127,"maoMeno Yoga Resort, Teras Bungalow",Let's just say that Lucy the host was having a...,lets just say that lucy the host was having a ...,lets say lucy host bad day thats reason provid...,0.679808,-0.182849,Negative

In [ ]:
df_negative_reviews['year'] = pd.DatetimeIndex(df_negative_reviews['clean_date']).year
df_negative_reviews["range_period"] = "dummy"

In [ ]:
df_negative_reviews.head()

,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,...,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2,Subjectivity,Polarity,Analysis,year,range_period
clean_date,,,,,,,,,,,,,,,,,,,,,
2012-06-01,286363.0,Kelly & Hector,Juni 2012,Unless you are on a very tight budget and have...,f2d21af60f1835359a048a9bcc117b44,2012-06-01,286363.0,bali,"abiansemal, bali",Rp1.496.853 per malam,...,109,The Nest - Jungalow menghadap Sungai Ayung,Unless you are on a very tight budget and have...,unless you are on a very tight budget and have...,unless tight budget absolutely nowhere else po...,0.512812,-0.037868,Negative,2012,dummy
2013-08-01,1081150.0,Johanna & Marcel,Agustus 2013,We wanted to stay in the bungalows over the wa...,053193a25582163e0ac15368dd54dc0a,2013-08-01,1081150.0,lombok,"gerung, lombok","Rp734.047 per malam, awalnya Rp846.035",...,45,Gili Gede Original Bungalow di atas Karang,We wanted to stay in the bungalows over the wa...,we wanted to stay in the bungalows over the wa...,wanted bungalows water small children suggeste...,0.564286,-0.042938,Negative,2013,dummy
2013-09-01,757998.0,Ylton,September 2013,Ich hatte leide keinen persönlichen Kontakt zu...,965d9750424dc04248332c6859f5c1c9,2013-09-01,757998.0,bali,"sangeh, bali",Rp868.278 per malam,...,333,"Pondok organik, balkon surgawi",I had no personal contact\nHad Mr. Fujita beca...,i had no personal contacthad mr fujita because...,personal contacthad mr fujita japan mr ketut f...,0.614286,-0.007143,Negative,2013,dummy
2013-12-01,408938.0,Beat,Desember 2013,"We were received by a rather dull driver, but ...",590688a8c94bbff48644842003a02362,2013-12-01,408938.0,bali,"kuta, bali",Rp1.503.718 per malam,...,300,"M 2 BEDROOMS VILLA , SEMINYAK , BALI","We were received by a rather dull driver, but ...",we were received by a rather dull driver but h...,received rather dull driver job luigi welcomed...,0.319048,-0.030556,Negative,2013,dummy
2014-03-01,974044.0,Dan,Maret 2014,Let's just say that Lucy the host was having a...,ce82180e618e8ec5339b441525b730ac,2014-03-01,974044.0,lombok,selaparang,"Rp480.000 per malam, awalnya Rp600.000",...,127,"maoMeno Yoga Resort, Teras Bungalow",Let's just say that Lucy the host was having a...,lets just say that lucy the host was having a ...,lets say lucy host bad day thats reason provid...,0.679808,-0.182849,Negative,2014,dummy

In [ ]:
df_negative_reviews["range_period"] = "dummy"
df_negative_reviews["range_period"].iloc[0:68] = "range 1: 2011-2015"
df_negative_reviews["range_period"].iloc[68:2129] = "range 2: 2016-2019"
df_negative_reviews["range_period"].iloc[2129:5843] = "range 3: 2020-2023"

In [ ]:
df_negative_reviews.head()

,room_id,reviewer_name,review_date,review_content,review_hash,clean_date,room_id-2,city,area,price,...,number_of_reviews,desc,review_translated,clean_reviews,clean_reviews_v2,Subjectivity,Polarity,Analysis,year,range_period
clean_date,,,,,,,,,,,,,,,,,,,,,
2012-06-01,286363.0,Kelly & Hector,Juni 2012,Unless you are on a very tight budget and have...,f2d21af60f1835359a048a9bcc117b44,2012-06-01,286363.0,bali,"abiansemal, bali",Rp1.496.853 per malam,...,109,The Nest - Jungalow menghadap Sungai Ayung,Unless you are on a very tight budget and have...,unless you are on a very tight budget and have...,unless tight budget absolutely nowhere else po...,0.512812,-0.037868,Negative,2012,range 1: 2011-2015
2013-08-01,1081150.0,Johanna & Marcel,Agustus 2013,We wanted to stay in the bungalows over the wa...,053193a25582163e0ac15368dd54dc0a,2013-08-01,1081150.0,lombok,"gerung, lombok","Rp734.047 per malam, awalnya Rp846.035",...,45,Gili Gede Original Bungalow di atas Karang,We wanted to stay in the bungalows over the wa...,we wanted to stay in the bungalows over the wa...,wanted bungalows water small children suggeste...,0.564286,-0.042938,Negative,2013,range 1: 2011-2015
2013-09-01,757998.0,Ylton,September 2013,Ich hatte leide keinen persönlichen Kontakt zu...,965d9750424dc04248332c6859f5c1c9,2013-09-01,757998.0,bali,"sangeh, bali",Rp868.278 per malam,...,333,"Pondok organik, balkon surgawi",I had no personal contact\nHad Mr. Fujita beca...,i had no personal contacthad mr fujita because...,personal contacthad mr fujita japan mr ketut f...,0.614286,-0.007143,Negative,2013,range 1: 2011-2015
2013-12-01,408938.0,Beat,Desember 2013,"We were received by a rather dull driver, but ...",590688a8c94bbff48644842003a02362,2013-12-01,408938.0,bali,"kuta, bali",Rp1.503.718 per malam,...,300,"M 2 BEDROOMS VILLA , SEMINYAK , BALI","We were received by a rather dull driver, but ...",we were received by a rather dull driver but h...,received rather dull driver job luigi welcomed...,0.319048,-0.030556,Negative,2013,range 1: 2011-2015
2014-03-01,974044.0,Dan,Maret 2014,Let's just say that Lucy the host was having a...,ce82180e618e8ec5339b441525b730ac,2014-03-01,974044.0,lombok,selaparang,"Rp480.000 per malam, awalnya Rp600.000",...,127,"maoMeno Yoga Resort, Teras Bungalow",Let's just say that Lucy the host was having a...,lets just say that lucy the host was having a ...,lets say lucy host bad day thats reason provid...,0.679808,-0.182849,Negative,2014,range 1: 2011-2015

In [ ]:
city_list

['bali', 'bandung', 'jakarta', 'lombok', 'surabaya']

In [ ]:
range_list = [*set(list(df_negative_reviews['range_period']))]
range_list

['range 1: 2011-2015', 'range 2: 2016-2019', 'range 3: 2020-2023']

In [ ]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics import silhouette_score

In [ ]:
# Initiate UMAP
umap_model = UMAP(n_neighbors=15,
                  n_components=5,
                  min_dist=0.0,
                  metric='cosine',
                  random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

In [ ]:
from bertopic.representation import MaximalMarginalRelevance

representation_model = MaximalMarginalRelevance(diversity=0.8)
sentence_model = SentenceTransformer("all-MiniLM-L6-v2")

# Initiate BERTopic
topic_model = BERTopic(umap_model=umap_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=20,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=False,
                       embedding_model=sentence_model
                       )

In [ ]:
# df_negative_reviews[(df_negative_reviews['city'] == 'bali') & (df_negative_reviews['range_period'] == 'range 1: 2011-2015')]

In [ ]:
len(df_negative_reviews)

5843

In [ ]:
df_negative_reviews.isnull().values.any()

False

In [ ]:
df_negative_reviews['clean_reviews_v2'] = df_negative_reviews['clean_reviews_v2'].astype('str')

In [ ]:
df_negative_reviews.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5843 entries, 2012-06-01 to 2023-05-01
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   room_id            5843 non-null   float64
 1   reviewer_name      5843 non-null   object
 2   review_date        5843 non-null   object
 3   review_content     5843 non-null   object
 4   review_hash        5843 non-null   object
 5   clean_date         5843 non-null   datetime64[ns]
 6   room_id-2          5843 non-null   float64
 7   city               5843 non-null   object
 8   area               5843 non-null   object
 9   price              5843 non-null   object
 10  name               5843 non-null   object
 11  rating             5843 non-null   float64
 12  number_of_reviews  5843 non-null   int64
 13  desc               5843 non-null   object
 14  review_translated  5843 non-null   object
 15  clean_reviews      5843 non-null   object
 16  clean_reviews_v2   5843 non-null   object
 17  Subjectivity       5843 non-null   float64
 18  Polarity           5843 non-null   float64
 19  Analysis           5843 non-null   object
 20  year               5843 non-null   int64
 21  range_period       5843 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(14)
memory usage: 1.0+ MB

In [ ]:
# Create an empty dataframe
topics_by_group = pd.DataFrame()

# Loop through each neighbourhood
for i in city_list:
  for j in range_list:
    # A data frame only contains reviews from neighbourhood i
    group = df_negative_reviews[(df_negative_reviews['city'] == i) & (df_negative_reviews['range_period'] == j)]
    if (len(group)>0):
      # Reset index, otherwise there will be error from BERTopic model
      group.reset_index(drop=True, inplace=True)
      try:
        embeddings = sentence_model.encode(group['clean_reviews_v2'], show_progress_bar=False)
        # Train the topic model
        topics, probs = topic_model.fit_transform(group['clean_reviews_v2'], embeddings)
        # Get the topic list for the neighbourbhood i
        topics_df = topic_model.get_topic_info()
        # Create a column with the city name
        topics_df['city'] = i
        # Create a column with the range period name
        topics_df['range_period'] = j

        umap_embeddings = topic_model.umap_model.transform(embeddings)
        if -1 in topics and len(topics) == 1:
          indices = [index for index, topic in enumerate(topics)]
          if len(indices) != 0:
            X = umap_embeddings[np.array(indices)]
            labels = [topic for index, topic in enumerate(topics)]
          else:
            topics_df['silhouette_score'] = None
            topics_by_group = pd.concat((topics_by_group, topics_df))
            continue
        else:
          indices = [index for index, topic in enumerate(topics) if topic != -1]
          if len(indices) != 0:
            X = umap_embeddings[np.array(indices)]
            labels = [topic for index, topic in enumerate(topics) if topic != -1]
          else:
            topics_df['silhouette_score'] = None
            topics_by_group = pd.concat((topics_by_group, topics_df))
            continue

        # Create a column with the silhouette score
        topics_df['silhouette_score'] = silhouette_score(X, labels)

        # Append the topic list to the dataframe
        topics_by_group = pd.concat((topics_by_group, topics_df))
      except ValueError:
        pass
    else:
      continue

topics_by_group

,Topic,Count,Name,Representation,Representative_Docs,city,range_period,silhouette_score
0,-1,41,-1_us_could_really_hotel,"[us, could, really, hotel]",[b'villa safe children year old child dangers ...,bali,range 1: 2011-2015,NaN
0,-1,610,-1_water_really_small_find,"[water, really, small, find]",[b'unfortunately write complain host susan act...,bali,range 2: 2016-2019,0.521990
1,0,103,0_sheets_shower_smell_cleaned,"[sheets, shower, smell, cleaned]",[b'room quite large people checked room night ...,bali,range 2: 2016-2019,0.521990
2,1,86,1_pool_day_property_villas,"[pool, day, property, villas]",[b'villa left mixed feelings road main road ho...,bali,range 2: 2016-2019,0.521990
3,2,77,2_bali_us_room_like,"[bali, us, room, like]",[b'ive bali nearly month worst floors througho...,bali,range 2: 2016-2019,0.521990
4,3,67,3_stayed_kuta_hotel_flat,"[stayed, kuta, hotel, flat]","[b'really cozy place', b'cozy', b'cozy place']",bali,range 2: 2016-2019,0.521990
5,4,52,4_day_us_late_didnt,"[day, us, late, didnt]",[b'first impossible reach anyone ask airport s...,bali,range 2: 2016-2019,0.521990
6,5,43,5_walk_unfortunately_little_center,"[walk, unfortunately, little, center]",[b'accommodation great location good breakfast...,bali,range 2: 2016-2019,0.521990
7,6,40,6_difficult_taxi_find_narrow,"[difficult, taxi, find, narrow]",[b'bit road walk beach almost stairs carry hea...,bali,range 2: 2016-2019,0.521990
8,7,31,7_review_wasnt_bomb_minimalist,"[review, wasnt, bomb, minimalist]","[b'bad', b'bad', b'bad']",bali,range 2: 2016-2019,0.521990
9,8,30,8_address_driver_google_didnt,"[address, driver, google, didnt]","[b'address hard find', b'address place accurat...",bali,range 2: 2016-2019,0.521990
10,9,28,9_us_day_even_bathroom,"[us, day, even, bathroom]",[b'room dirty stained curtains windows curtain...,bali,range 2: 2016-2019,0.521990
11,10,24,10_mosquito_rice_eco_walk,"[mosquito, rice, eco, walk]",[b'place three names firefly resort bamboo eco...,bali,range 2: 2016-2019,0.521990
12,11,23,11_book_hesitate_expected_everything,"[book, hesitate, expected, everything]","[b'disappointed', b'book disappointed stars', ...",bali,range 2: 2016-2019,0.521990
0,-1,859,-1_dirty_staff_pool_day,"[dirty, staff, pool, day]",[b'property beautiful location really terrible...,bali,range 3: 2020-2023,0.453723
1,0,309,0_insects_shower_sheets_door,"[insects, shower, sheets, door]",[b'bad check house remote place go field field...,bali,range 3: 2020-2023,0.453723
2,1,119,1_place_ill_extraordinary_bad,"[place, ill, extraordinary, bad]","[b'hard find place', b'okay last night locatio...",bali,range 3: 2020-2023,0.453723
3,2,89,2_us_money_refund_day,"[us, money, refund, day]",[b'staying experience bad serious doubt host p...,bali,range 3: 2020-2023,0.453723
4,3,76,3_narrow_villas_everything_return,"[narrow, villas, everything, return]",[b'dont bring car road access villa bad cant u...,bali,range 3: 2020-2023,0.453723
5,4,74,4_beach_walk_restaurants_minutes,"[beach, walk, restaurants, minutes]",[b'family consisting people staying place that...,bali,range 3: 2020-2023,0.453723
6,5,71,5_dirty_ac_small_first,"[dirty, ac, small, first]",[b'ordered take boat morning place great poten...,bali,range 3: 2020-2023,0.453723
7,6,59,6_villas_day_condition_cleanliness,"[villas, day, condition, cleanliness]",[b'difficult comment villa unfortunately cant ...,bali,range 3: 2020-2023,0.453723
8,7,57,7_difficult_accommodation_bathroom_area,"[difficult, accommodation, bathroom, area]",[b'overall place feels old dirty moist smelly ...,bali,range 3: 2020-2023,0.453723
9,8,53,8_cozy_center_like_remote,"[cozy, center, like, remote]","[b'cozy', b'cozy place', b'cozy place']",bali,range 3: 2020-2023,0.453723
10,9,46,9_bali_hotel_us_staff,"[bali, hotel, us, staff]",[b'extremely disappointed korowai bali guest j...,bali,range 3: 2020-2023,0.453723
11,10,45,10_barking_hear_morning_annoying,"[barking, hear, morning, annoying]",[b'fun room bit far crowd right near pool unfo...,bali,range 3: 2020-2023,0.453723
12,11,40,11_wifi_bad_weak_price,"[wifi, bad, weak, price]",[b'good overall paper toilet bad smell room wi...,bali,range 3: 2020-2023,0.453723
13,12,33,12_scooters_get_property_city,"[scooters, get, property, city]",[b'room clean complex well maintained beautifu...,bali,range 3: 2020-2023,0.453723
14,13,30,13_photos_noisy_old_avoidfull,"[photos, noisy, old, avoidfull]","[b'dirty', b'dirty', b'place dirty nothing lik...",bali,range 3: 2020-2023,0.453723
15,14,27,14_informative_error_hosts_turned,"[informative, error, hosts, turned]",[b'location quite far center crowd cleanliness...,bali,range 3: 2020-2023,0.453723
16,15,23,15_hidden_gems_bali_return,"[hidden, gems, bali, return]","[b'must hidden gem everything need', b'hidden ...",bali,range 3: 2020-2023,0.453723
17,16,23,16_affordable_tired_tax_reasobale,"[affordable, tired, tax, reasobale]","[b'location dream expensive', b'cant beat pric...",bali,range 3: 2020-2023,0.453723
18,17,23,17_rice_fields_ubud_recommend,"[rice, fields, ubud, recommend]",[b'special place nothing like ubud recommend e...,bali,range 3: 2020-2023,0.453723
0,-1,119,-1_place_bandung_recommended_difficult,"[place, bandung, recommended, difficult]",[b'nadhiras place comfy youll get see photos i...,bandung,range 2: 2016-2019,0.659207
1,0,108,0_water_room_bad_us,"[water, room, bad, us]",[b'host fast answering question unfortunately ...,bandung,range 2: 2016-2019,0.659207
2,1,46,1_cozy_family_recommended_places,"[cozy, family, recommended, places]","[b'cozy place', b'cozy place', b'cozy place']",bandung,range 2: 2016-2019,0.659207
3,2,22,2_value_sastras_average_enemy,"[value, sastras, average, enemy]","[b'expected', b'expected value money', b'value...",bandung,range 2: 2016-2019,0.659207
0,-1,5,-1_flies_haunt_holidays_recommendations,"[flies, haunt, holidays, recommendations]","[b'unfortunately lot flies disturbing', b'many...",bandung,range 3: 2020-2023,0.551766
1,0,452,0_bathroom_villa_host_small,"[bathroom, villa, host, small]",[b'check process quite easy uses smartdoor fir...,bandung,range 3: 2020-2023,0.551766
2,1,55,1_cozy_family_recommended_anyway,"[cozy, family, recommended, anyway]","[b'cozy place', b'cozy place', b'cozy place']",bandung,range 3: 2020-2023,0.551766
3,2,46,2_expected_hidden_gem_sorry,"[expected, hidden, gem, sorry]","[b'expected', b'expected', b'expected']",bandung,range 3: 2020-2023,0.551766
0,-1,96,-1_difficult_host_strategic_parking,"[difficult, host, strategic, parking]",[b'comfortable place strategic place space des...,jakarta,range 2: 2016-2019,0.600335
1,0,78,0_cozy_thank_recommend_little,"[cozy, thank, recommend, little]","[b'cozy place', b'cozy place', b'cozy place']",jakarta,range 2: 2016-2019,0.600335
2,1,59,1_building_wifi_bathroom_us,"[building, wifi, bathroom, us]",[b'check experience unpleasant staff set meet ...,jakarta,range 2: 2016-2019,0.600335
3,2,30,2_jakarta_traffic_food_little,"[jakarta, traffic, food, little]","[b'really cozy place jakarta', b'cozy place he...",jakarta,range 2: 2016-2019,0.600335
0,-1,8,-1_sis_feel_especially_boarding,"[sis, feel, especially, boarding]",[b'jessica humble responsive helpfulthe place ...,jakarta,range 3: 2020-2023,0.565643
1,0,559,0_host_dirty_water_small,"[host, dirty, water, small]",[b'decoration accordance picture good cleanlin...,jakarta,range 3: 2020-2023,0.565643
2,1,60,1_cozy_staycation_area_spend,"[cozy, staycation, area, spend]","[b'cozy place', b'cozy place', b'cozy place']",jakarta,range 3: 2020-2023,0.565643
0,-1,24,-1_us_small_bungalow_water,"[us, small, bungalow, water]",[b'say bit disappointed garden bungalow face p...,lombok,range 1: 2011-2015,NaN
0,-1,150,-1_villa_pool_didnt_host,"[villa, pool, didnt, host]",[b'place essentially fine comfy bed working to...,lombok,range 2: 2016-2019,NaN
0,-1,93,-1_pool_bad_experience_price,"[pool, bad, experience, price]",[b'worst ever ordered ketut offers tour higher...,lombok,range 3: 2020-2023,0.478860
1,0,98,0_us_dirty_really_day,"[us, dirty, really, day]",[b'jungly really clean personal toilet waste f...,lombok,range 3: 2020-2023,0.478860
2,1,47,1_villa_unfortunately_staff_beach,"[villa, unfortunately, staff, beach]",[b'soft opening phase expect disappointed way ...,lombok,range 3: 2020-2023,0.478860
0,-1,43,-1_arrived_house_dark_disappointing,"[arrived, house, dark, disappointing]",[b'booking canceled host told tenant currently...,surabaya,range 2: 2016-2019,0.623157
1,0,69,0_cold_owner_sink_shower,"[cold, owner, sink, shower]",[b'place wont disappoint get pay even betterth...,surabaya,range 2: 2016-2019,0.623157
2,1,27,1_cozy_batu_family_mall,"[cozy, batu, family, mall]","[b'place cozy', b'cozy place', b'cozy place']",surabaya,range 2: 2016-2019,0.623157
0,-1,83,-1_check_parking_everything_really,"[check, parking, everything, really]",[b'room quite spacious conditioner cold really...,surabaya,range 3: 2020-2023,0.520947
1,0,81,0_used_location_host_little,"[used, location, host, little]",[b'stayed days nights really expect home facil...,surabaya,range 3: 2020-2023,0.520947
2,1,47,1_cozy_definitely_jogja_coffee,"[cozy, definitely, jogja, coffee]","[b'cozy place highly recommended', b'cozy plac...",surabaya,range 3: 2020-2023,0.520947
3,2,24,2_wifi_us_mas_security,"[wifi, us, mas, security]",[b'unfortunately stood front locked door night...,surabaya,range 3: 2020-2023,0.520947

### coba-coba silhoutee score

In [ ]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics import silhouette_score

In [ ]:
group = df_negative_reviews[(df_negative_reviews['city'] == 'bali') & (df_negative_reviews['range_period'] == 'range 2: 2016-2019')]

In [ ]:
sentence_model = SentenceTransformer("all-MiniLM-L6-v2")

In [ ]:
embeddings = sentence_model.encode(group['clean_reviews_v2'], show_progress_bar=False)

In [ ]:
# Train our topic model using our pre-trained sentence-transformers embeddings
umap_model = UMAP(n_neighbors=15, n_components=5, min_dist=0.0, metric='cosine', random_state=42)
topic_model = BERTopic(umap_model=umap_model, embedding_model=sentence_model)
topics, probs = topic_model.fit_transform(group['clean_reviews_v2'], embeddings)

In [ ]:
umap_embeddings = topic_model.umap_model.transform(embeddings)
indices = [index for index, topic in enumerate(topics) if topic != -1]
X = umap_embeddings[np.array(indices)]
labels = [topic for index, topic in enumerate(topics) if topic != -1]

In [ ]:
# Calculate silhouette score
silhouette_score(X, labels)

0.48693132

In [ ]:
enumerate(topics)

### Dimensionality Reduction using UMAP (by city and all)

In [ ]:
# Dimension reduction
from umap import UMAP

# Count vectorization
from sklearn.feature_extraction.text import CountVectorizer

# Topic model
from bertopic import BERTopic

By group (city)

In [ ]:
# df_negative_reviews

# Initiate UMAP
umap_model = UMAP(n_neighbors=15,
                  n_components=5,
                  min_dist=0.0,
                  metric='cosine',
                  random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

In [ ]:
from bertopic.representation import MaximalMarginalRelevance

representation_model = MaximalMarginalRelevance(diversity=0.8)

# Initiate BERTopic
topic_model = BERTopic(umap_model=umap_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=20,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=False
                       )

In [ ]:
# Create an empty dataframe
topics_by_group = pd.DataFrame()

# Loop through each neighbourhood
for i in city_list:
  # A data frame only contains reviews from neighbourhood i
  group = df_negative_reviews[df_negative_reviews['city'] == i]
  # Reset index, otherwise there will be error from BERTopic model
  group.reset_index(drop=True, inplace=True)
  # Train the topic model
  topics = topic_model.fit_transform(group['clean_reviews_v2'])
  # Get the topic list for the neighbourbhood i
  topics_df = topic_model.get_topic_info()
  # Create a column with the neighbourhood name
  topics_df['city'] = i
  # Append the topic list to the dataframe
  topics_by_group = pd.concat((topics_by_group, topics_df))

topics_by_group

,Topic,Count,Name,Representation,Representative_Docs,city
0,-1,20,-1_helmets_restaurant_brochure_bikes,"[helmets, restaurant, brochure, bikes]",[positive water cylinder arrival negative poin...,bali
1,0,3229,0_villa_us_dirty_night,"[villa, us, dirty, night]",[th october friends need arrived cant find new...,bali
2,1,62,1_wifi_room_slow_unfortunately,"[wifi, room, slow, unfortunately]",[extraordinary views overall extraordinary pla...,bali
0,-1,83,-1_back_train_cozy_noise,"[back, train, cozy, noise]","[ill back comfortable place, located city cent...",bandung
1,0,650,0_room_water_location_cold,"[room, water, location, cold]",[check process quite easy uses smartdoor first...,bandung
2,1,70,1_cozy_recommended_box_location,"[cozy, recommended, box, location]","[cozy place, cozy place, cozy place]",bandung
3,2,50,2_family_recommended_cozy_small,"[family, recommended, cozy, small]","[recommended small family, recommended place s...",bandung
0,-1,37,-1_expected_wont_stars_netflix,"[expected, wont, stars, netflix]","[expected, expected, expected thank]",jakarta
1,0,721,0_room_host_water_dirty,"[room, host, water, dirty]",[ordered place additional room order building ...,jakarta
2,1,100,1_cozy_recommended_back_small,"[cozy, recommended, back, small]","[cozy place, cozy place, cozy place]",jakarta
3,2,34,2_back_expensive_problems_late,"[back, expensive, problems, late]","[ill back, ill back, ill back]",jakarta
0,-1,233,-1_us_staff_pool_recommend,"[us, staff, pool, recommend]",[room fine door desperate bathroom little dirt...,lombok
1,0,74,0_bathroom_bad_pool_ants,"[bathroom, bad, pool, ants]",[jungly really clean personal toilet waste ful...,lombok
2,1,40,1_us_host_one_water,"[us, host, one, water]",[rachel failed advertise classes able look dir...,lombok
3,2,40,2_scooter_coffee_rent_host,"[scooter, coffee, rent, host]",[get pay free bikes breakfast large added valu...,lombok
4,3,25,3_staff_accommodation_noisy_road,"[staff, accommodation, noisy, road]",[accommodation according price environment cal...,lombok
0,-1,120,-1_city_room_host_cold,"[city, room, host, cold]",[place clean come room already cold towel frag...,surabaya
1,0,121,0_dirty_floor_bed_house,"[dirty, floor, bed, house]",[stayed days nights really expect home facilit...,surabaya
2,1,57,1_host_us_mall_expensive,"[host, us, mall, expensive]",[host never mentioned wherever security deposi...,surabaya
3,2,47,2_cozy_family_back_feel,"[cozy, family, back, feel]","[cozy place, cozy place, cozy place]",surabaya
4,3,30,3_disappointment_convenient_budget_tolerant,"[disappointment, convenient, budget, tolerant]","[bad, bad, bad]",surabaya

In [ ]:
len(topics_by_group)

21

In [ ]:
topics_by_group[topics_by_group["city"]=="bali"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,3229,0_villa_us_dirty_night,"[villa, us, dirty, night]",[th october friends need arrived cant find new...,bali
2,1,62,1_wifi_room_slow_unfortunately,"[wifi, room, slow, unfortunately]",[extraordinary views overall extraordinary pla...,bali

In [ ]:
topics_by_group[topics_by_group["city"]=="jakarta"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,721,0_room_host_water_dirty,"[room, host, water, dirty]",[ordered place additional room order building ...,jakarta
2,1,100,1_cozy_recommended_back_small,"[cozy, recommended, back, small]","[cozy place, cozy place, cozy place]",jakarta
3,2,34,2_back_expensive_problems_late,"[back, expensive, problems, late]","[ill back, ill back, ill back]",jakarta

In [ ]:
topics_by_group[topics_by_group["city"]=="lombok"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,74,0_bathroom_bad_pool_ants,"[bathroom, bad, pool, ants]",[jungly really clean personal toilet waste ful...,lombok
2,1,40,1_us_host_one_water,"[us, host, one, water]",[rachel failed advertise classes able look dir...,lombok
3,2,40,2_scooter_coffee_rent_host,"[scooter, coffee, rent, host]",[get pay free bikes breakfast large added valu...,lombok
4,3,25,3_staff_accommodation_noisy_road,"[staff, accommodation, noisy, road]",[accommodation according price environment cal...,lombok

In [ ]:
topics_by_group[topics_by_group["city"]=="bandung"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,650,0_room_water_location_cold,"[room, water, location, cold]",[check process quite easy uses smartdoor first...,bandung
2,1,70,1_cozy_recommended_box_location,"[cozy, recommended, box, location]","[cozy place, cozy place, cozy place]",bandung
3,2,50,2_family_recommended_cozy_small,"[family, recommended, cozy, small]","[recommended small family, recommended place s...",bandung

In [ ]:
topics_by_group[topics_by_group["city"]=="surabaya"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,121,0_dirty_floor_bed_house,"[dirty, floor, bed, house]",[stayed days nights really expect home facilit...,surabaya
2,1,57,1_host_us_mall_expensive,"[host, us, mall, expensive]",[host never mentioned wherever security deposi...,surabaya
3,2,47,2_cozy_family_back_feel,"[cozy, family, back, feel]","[cozy place, cozy place, cozy place]",surabaya
4,3,30,3_disappointment_convenient_budget_tolerant,"[disappointment, convenient, budget, tolerant]","[bad, bad, bad]",surabaya

All

In [ ]:
# Initiate UMAP
umap_model = UMAP(n_neighbors=15,
                  n_components=5,
                  min_dist=0.0,
                  metric='cosine',
                  random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

# Initiate BERTopic
topic_model = BERTopic(umap_model=umap_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=200,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=True)

# Run BERTopic model
topics = topic_model.fit_transform(df_negative_reviews['clean_reviews_v2'])

# Get the list of topics
topic_model.get_topic_info()

,Topic,Count,Name,Representation,Representative_Docs
0,-1,2622,-1_small_night_wifi_host,"[small, night, wifi, host]",[could recommend place terrible location small...
1,0,2654,0_us_water_villa_host,"[us, water, villa, host]",[heres honest review gave place one star place...
2,1,567,1_cozy_recommended_road_parking,"[cozy, recommended, road, parking]","[recommended cozy place, cozy place recommende..."

In [ ]:
topic_model.get_topic_info()["Representative_Docs"].iloc[1]

['heres honest review gave place one star place accurate google map type name resulting hard find use gojek pick food delivery cannot find correctly way back ally therere neighbors dogs front alley barking chasing night come back home scooter check felt like robot system didnt meet front desk person housekeeper anyone greet arrive gave instructions code door walk room theres room key inside book bed human interactions gets annoying every coming back type code open front door cant walk use normal key checked room first noticed lot smaller pictures posted secondly super bad smell coming bathroom felt like someone took dump like minutes ago joke want mention texted host situation someone give spray bathroom work make smell go away every came back place whole room smell really really bad bathroom bathroom feeling old dirty doesnt look like seems pictures overall quite disappointing recommend anyone book unfortunately',
 'room quite large people checked room night days trip saw one towels provided bed sheet dirty stayed one night needed close airport fly next day dont know dont change sheets one night anything disappointed disappointed bathroom clean possible dried rust everywhere overall enjoy find better place price facilities elsewhere',
 'room dirty stained curtains windows curtains filled dead insects toilet dirty stained toilet holder damaged stain shower floor walls dirty cracks breakfast hair omlette one day hair next day told staff hair omlette woman made look like lying finally offered change bought breakfast elsewhere door holesgaps many insects enter rooms properties photos place located alley art shop part property room dirty looked old tv indonesian without options change language hot water limited becomes cold second person takes shower tolietry bad looks old reused wi fi work first day action took us address three doors properties followed instructions address provided host one check table friendly person nearest business must ask host check arrive minutes registration call assistance number dont indonesian sim card useless us food communication problems bring wrong food several times despite clear instructions good eggs brought well fruit orders wrong must ask toast two separate days breakfast always late early chips cold even though asking heat comparable price overnight recommend others place middle ubud properties around']

visualize topics by group

In [ ]:
# Get topics by group
topics_per_class = topic_model.topics_per_class(df_negative_reviews['clean_reviews_v2'], classes=df_negative_reviews['city'])

# Visualize topics by group
topic_model.visualize_topics_per_class(topics_per_class, top_n_topics=9)

### Dimensionality Reduction using PCA
(by city and all)

By group (city)

In [ ]:
from sklearn.decomposition import PCA

# Initiate PCA
pca_model = PCA(n_components=5, random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

In [ ]:
from bertopic.representation import MaximalMarginalRelevance

representation_model = MaximalMarginalRelevance(diversity=0.8)

# Initiate BERTopic
topic_model = BERTopic(umap_model=pca_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=20,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=False
                       )

In [ ]:
# Create an empty dataframe
topics_by_group = pd.DataFrame()

# Loop through each neighbourhood
for i in city_list:
  # A data frame only contains reviews from neighbourhood i
  group = df_negative_reviews[df_negative_reviews['city'] == i]
  # Reset index, otherwise there will be error from BERTopic model
  group.reset_index(drop=True, inplace=True)
  # Train the topic model
  topics = topic_model.fit_transform(group['clean_reviews_v2'])
  # Get the topic list for the neighbourbhood i
  topics_df = topic_model.get_topic_info()
  # Create a column with the neighbourhood name
  topics_df['city'] = i
  # Append the topic list to the dataframe
  topics_by_group = pd.concat((topics_by_group, topics_df))

topics_by_group

,Topic,Count,Name,Representation,Representative_Docs,city
0,-1,3311,-1_us_dirty_host_bathroom,"[us, dirty, host, bathroom]",[room dirty stained curtains windows curtains ...,bali
0,-1,153,-1_cold_cozy_location_host,"[cold, cozy, location, host]",[good place unfortunately place rather difficu...,bandung
1,0,660,0_room_dirty_water_location,"[room, dirty, water, location]",[recommend place bathroom needs increased dark...,bandung
2,1,40,1_recommend_homie_villa_real,"[recommend, homie, villa, real]","[cozy place, cozy place, cozy place]",bandung
0,-1,236,-1_cold_host_small_clean,"[cold, host, small, clean]","[cozy place family, cozy strategic place, plac...",jakarta
1,0,634,0_host_bathroom_check_location,"[host, bathroom, check, location]",[start good good helpful building staff bad ch...,jakarta
2,1,22,1_cozy_place_comportable_comfy,"[cozy, place, comportable, comfy]","[cozy place, cozy place, cozy place]",jakarta
0,-1,412,-1_us_dirty_host_pool,"[us, dirty, host, pool]",[lets say lucy host bad day thats reason provi...,lombok
0,-1,375,-1_room_host_water_location,"[room, host, water, location]",[stayed days nights really expect home facilit...,surabaya

In [ ]:
len(topics_by_group)

9

In [ ]:
topics_by_group[topics_by_group["city"]=="bali"].iloc[1:6]

Empty DataFrame
Columns: [Topic, Count, Name, Representation, Representative_Docs, city]
Index: []

In [ ]:
topics_by_group[topics_by_group["city"]=="jakarta"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,634,0_host_bathroom_check_location,"[host, bathroom, check, location]",[start good good helpful building staff bad ch...,jakarta
2,1,22,1_cozy_place_comportable_comfy,"[cozy, place, comportable, comfy]","[cozy place, cozy place, cozy place]",jakarta

In [ ]:
topics_by_group[topics_by_group["city"]=="lombok"].iloc[1:6]

Empty DataFrame
Columns: [Topic, Count, Name, Representation, Representative_Docs, city]
Index: []

In [ ]:
topics_by_group[topics_by_group["city"]=="bandung"].iloc[1:6]

,Topic,Count,Name,Representation,Representative_Docs,city
1,0,660,0_room_dirty_water_location,"[room, dirty, water, location]",[recommend place bathroom needs increased dark...,bandung
2,1,40,1_recommend_homie_villa_real,"[recommend, homie, villa, real]","[cozy place, cozy place, cozy place]",bandung

In [ ]:
topics_by_group[topics_by_group["city"]=="bandung"]["Representative_Docs"].iloc[1]

['recommend place bathroom needs increased dark lighting slightly blocked waterways shower area flooded take shower uncomfortable bathing minutes spare parts soap hangers shower heads bad easily broken unfortunately family person broke shower head clamp condition bad used yes k pocket replace another part bathroom bad careful next people order place kitchen sink area quite smelling one cup hot drinks one glass one small teaspoon spoons giant forks children hopefully bring spoon children think cooking utensils complete dont cook cant give review living room area suitable babies toddlers edges tables sharp electric plugs low easily accessible children right table eat study work daughter school work uncomfortable parking area smelly good thing place view balcony location near itb',
 'graces place good enough need budget accommodation place rather large expect suitable families children initially disappointed cleanliness place nd bathroom looks dirty date dont clean well water leaking careful quite slippery kitchen drawer dirty hair loss equipment pan items need replaced terrible thing foul odor comes drawer quite strong bad floor dusty ants everywhere looks like didnt right cleaning drawback soundproof place noisy even night fact wake middle night noisy outside good thing ms ranny handled complaint placed staff cleanse turned fine advice dont clean person might place',
 'lot hope host improve services location place located busy traffic area please wait minutes hour center bandung rush hour room inaccessible direct access tower guests must access another tower travel heavy luggage recommended path connects tower shady pests foul odors construction really unpleasant rooms room cleanliness really helps wet sink towels welcome room quite dusty cleanliness toilet accordance normal standards opinion piping problem water shower cannot flow properly causes flooding shower area toilet sink dirty check balcony dirty seprai additional sheets tensile bed provided clean smelly check procedures bad check procedures receive message sms host clarify check procedure call host many times contacted sms replied badly even submit key driver could contact host check host even check whether good whether need help tour bandung think host done bad job communicating receiving guests facilities tv provided connected right arial cannot watch tv night']

In [ ]:
topics_by_group[topics_by_group["city"]=="surabaya"].iloc[1:6]

Empty DataFrame
Columns: [Topic, Count, Name, Representation, Representative_Docs, city]
Index: []

All

In [ ]:
# Initiate PCA
pca_model = PCA(n_components=5, random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

# Initiate BERTopic
topic_model = BERTopic(umap_model=pca_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=200,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=True)

# Run BERTopic model
topics = topic_model.fit_transform(df_negative_reviews['clean_reviews_v2'])

# Get the list of topics
topic_model.get_topic_info()

,Topic,Count,Name,Representation,Representative_Docs
0,-1,5843,-1_dirty_us_villa_host,"[dirty, us, villa, host]",[overall disappointing experience arrived home...

visualize topics by group

In [ ]:
# Get topics by group
topics_per_class = topic_model.topics_per_class(df_negative_reviews['clean_reviews_v2'], classes=df_negative_reviews['city'])

# Visualize topics by group
topic_model.visualize_topics_per_class(topics_per_class, top_n_topics=9)

### Dimensionality Reduction using UMAP (by date range)

In [ ]:
range_period_list = ["range 1: 2011-01-01:2015-12-12", "range 2: 2016-01-01:2019-12-12", "range 3: 2020-01-01:2023-12-12"]

# df_neg_rev_range_1 = df_negative_reviews['2011-01-01':'2015-12-12']
# df_neg_rev_range_1["range_period"] = "range 1: 2011-01-01:2015-12-12"

# df_neg_rev_range_2 = df_negative_reviews['2016-01-01':'2019-12-12']
# df_neg_rev_range_2["range_period"] = "range 2: 2016-01-01:2019-12-12"


# df_neg_rev_range_3 = df_negative_reviews['2020-01-01':'2023-12-12']
# df_neg_rev_range_3["range_period"] = "range 3: 2020-01-01:2023-12-12"

In [ ]:
# df_neg_rev

# Initiate UMAP
umap_model = UMAP(n_neighbors=15,
                  n_components=5,
                  min_dist=0.0,
                  metric='cosine',
                  random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

In [ ]:
from bertopic.representation import MaximalMarginalRelevance

representation_model = MaximalMarginalRelevance(diversity=0.8)

# Initiate BERTopic
topic_model = BERTopic(umap_model=umap_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=20,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=False
                       )

In [ ]:
# Create an empty dataframe
topics_by_group = pd.DataFrame()

# Loop through each neighbourhood
for i in range_period_list:
  # A data frame only contains reviews from neighbourhood i
  group = df_neg_rev[df_neg_rev['range_period'] == i]
  # Reset index, otherwise there will be error from BERTopic model
  group.reset_index(drop=True, inplace=True)
  # Train the topic model
  topics = topic_model.fit_transform(group['clean_reviews_v2'])
  # Get the topic list for the neighbourbhood i
  topics_df = topic_model.get_topic_info()
  # Create a column with the range period name
  topics_df['range_period'] = i
  # Append the topic list to the dataframe
  topics_by_group = pd.concat((topics_by_group, topics_df))

topics_by_group

,Topic,Count,Name,Representation,Representative_Docs,range_period
0,-1,68,-1_us_small_night_breakfast,"[us, small, night, breakfast]",[lets say lucy host bad day thats reason provi...,range 1: 2011-01-01:2015-12-12
0,-1,326,-1_little_recommend_location_accommodation,"[little, recommend, location, accommodation]",[location little bit difficult find house cozy...,range 2: 2016-01-01:2019-12-12
1,0,1447,0_us_dirty_water_host,"[us, dirty, water, host]",[cannot place excess order host approves order...,range 2: 2016-01-01:2019-12-12
2,1,56,1_cozy_back_instagramable_harbor,"[cozy, back, instagramable, harbor]","[cozy place, place cozy, cozy place]",range 2: 2016-01-01:2019-12-12
3,2,45,2_hidden_paradise_corner_window,"[hidden, paradise, corner, window]","[quiet little gem, hidden gem, place like hidd...",range 2: 2016-01-01:2019-12-12
4,3,41,3_wont_book_disappointing_stars,"[wont, book, disappointing, stars]","[disappointed, disappointed, disappointed]",range 2: 2016-01-01:2019-12-12
5,4,40,4_recommended_vacation_recomended_feels,"[recommended, vacation, recomended, feels]","[cozy place recommended, recommended cozy plac...",range 2: 2016-01-01:2019-12-12
6,5,37,5_back_bimo_definitely_expensive,"[back, bimo, definitely, expensive]","[bad, bad, bad]",range 2: 2016-01-01:2019-12-12
7,6,35,6_previous_money_skygarden_flat,"[previous, money, skygarden, flat]","[expected, value money expected, expected valu...",range 2: 2016-01-01:2019-12-12
8,7,34,7_wifi_slow_good_floor,"[wifi, slow, good, floor]",[initially hoped problem wifi room according c...,range 2: 2016-01-01:2019-12-12
0,0,3693,0_dirty_villa_host_water,"[dirty, villa, host, water]",[extraordinarily bad service first arranged pl...,range 3: 2020-01-01:2023-12-12
1,1,21,1_expected_recommended_goodsssss_ayana,"[expected, recommended, goodsssss, ayana]","[expected, expected, expected]",range 3: 2020-01-01:2023-12-12

### Dimensionality Reduction using PCA (by date range)

In [ ]:
from sklearn.decomposition import PCA

# Initiate PCA
pca_model = PCA(n_components=5, random_state=100)

# Count vectorizer
vectorizer_model = CountVectorizer(stop_words=stopwords)

In [ ]:
from bertopic.representation import MaximalMarginalRelevance

representation_model = MaximalMarginalRelevance(diversity=0.8)

# Initiate BERTopic
topic_model = BERTopic(umap_model=pca_model,
                       vectorizer_model=vectorizer_model,
                       representation_model=representation_model,
                       min_topic_size=20,
                       top_n_words=4,
                       language="multilingual",
                       calculate_probabilities=False
                       )

In [ ]:
# Create an empty dataframe
topics_by_group = pd.DataFrame()

# Loop through each neighbourhood
for i in range_period_list:
  # A data frame only contains reviews from neighbourhood i
  group = df_neg_rev[df_neg_rev['range_period'] == i]
  # Reset index, otherwise there will be error from BERTopic model
  group.reset_index(drop=True, inplace=True)
  # Train the topic model
  topics = topic_model.fit_transform(group['clean_reviews_v2'])
  # Get the topic list for the neighbourbhood i
  topics_df = topic_model.get_topic_info()
  # Create a column with the range period name
  topics_df['range_period'] = i
  # Append the topic list to the dataframe
  topics_by_group = pd.concat((topics_by_group, topics_df))

topics_by_group

,Topic,Count,Name,Representation,Representative_Docs,range_period
0,-1,68,-1_us_small_night_breakfast,"[us, small, night, breakfast]",[lets say lucy host bad day thats reason provi...,range 1: 2011-01-01:2015-12-12
0,-1,245,-1_cozy_dirty_host_wifi,"[cozy, dirty, host, wifi]","[cozy place friends family, really cozy place ...",range 2: 2016-01-01:2019-12-12
1,0,1773,0_us_villa_host_night,"[us, villa, host, night]",[cannot place excess order host approves order...,range 2: 2016-01-01:2019-12-12
2,1,43,1_cozy_recommended_homie_instagramable,"[cozy, recommended, homie, instagramable]","[cozy place, place cozy, cozy place]",range 2: 2016-01-01:2019-12-12
0,-1,11,-1_dirty_trench_beautifully_signal,"[dirty, trench, beautifully, signal]","[dirty, dirty, dirty]",range 3: 2020-01-01:2023-12-12
1,0,3641,0_dirty_villa_host_water,"[dirty, villa, host, water]",[check problem welcomed staff helped checking ...,range 3: 2020-01-01:2023-12-12
2,1,62,1_cozy_quiet_welldecorated_homeyy,"[cozy, quiet, welldecorated, homeyy]","[cozy place, cozy place, cozy place]",range 3: 2020-01-01:2023-12-12